:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-green-1: #04d361;
  --color-green-2: #033123;
  --color-green-3: #022415;
  --color-cancel: #ff4700;
  --color-background-1: #0d0d0d;
  --color-background-2: #1b1b1b;
}
